* {
  margin: 0px;
  padding: 0px;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.headerWrapper .header {
  width: 100%;
  height: auto;
  padding: 10px 0px;
}

.logoWrapper img {
  width: 100%;
}

.headerWrapper .header .part2 .contruyDrop {
  width: 150px;
  height: 80px;
  min-width: 150px;
}
